{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
</head>
<body>

    <a href="/table/" title="table" target="" >back</a>

   
    <table border="8">
        <thead>
        <tr>
        <th>Rozmiar</th>
        <th>Ilosc</th>
        
        
            <th colspan="3"></th>
        
        </tr>
        </thead>
        {% for row in sizes %}
        
        <tr class="rows" style="background-color: white" >
            <td><center>{{ row.size }}</td>
            <td><center>{{ row.amount }}</td>
            
               
        </tr>
        {% endfor %}
        </table>

   Kierowcy :{{ drivers }}<br>
   Pasazerowie :{{passengers}}<br>
   Razem : {{teams}}  
</body>
</html>    